/* Login */

.login-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    /* TODO: double-check this in the future */
    background-color: #f0f4f8;
}

.login-form-styles {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 450px;
    border: none;
    padding: 20px;
    border-radius: var(--border-radius);
    box-shadow: 0 6px 20px #0000001a;
}

.form-block {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.error-message {
    color: #ff0000;
    font-weight: bold;
    text-align: center;
    font-style: italic;
}

/* AdminHeader */

.admin-header {
    width: 100%;
    background-color: var(--admin-secondary-color);
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: sticky;
    top: 0;
}

.admin-header input[type="search"] {
    border: 2px solid var(--admin-primary-color);
    border-radius: var(--border-radius);
    padding: 8px 30px 8px 10px;
    font-size: 16px;
    width: 30%;
    max-width: 500px;
}

.logout-button {
    border: none;
    border-radius: var(--border-radius);
    background-color: #f0f4f8;
    color: var(--admin-primary-color);
    font-size: 18px;
    font-weight: bolder;
    padding: 6px;
}

.logout-button:hover {
    background-color: #1a1a1a;
}

.burger-logout-button {
    color: #ff0000;
    border: none;
    padding: 10px 30px;
    background-color: var(--admin-primary-color);
    transition: background-color 0.3s ease;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.burger-action-icon {
    display: none;
}

/* AddNewProduct, AddNewUser, AddNewCategory, ProductEditForm, UserEditForm, CategoryEditForm */

.form-styles form {
    width: 400px;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 50px 30px;
    width: 100%;
}

.form-styles {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    box-shadow: 4px 4px 15px #0000001a;
    border-radius: var(--border-radius);
}

.form-styles h2,
.login-form-styles h2 {
    font-size: 24px;
    color: #4A4A4A;
    margin-bottom: 20px;
}

.form-styles form,
.login-form-styles form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-styles input,
.form-styles textarea,
.login-form-styles input,
header input {
    padding: 5px 10px;
    border-radius: var(--border-radius);
    border: 1px solid #ccc;
    margin: 5px 0;
}

.form-styles input:focus,
.login-form-styles input:focus,
header input:focus {
    border-color: var(--admin-selected-color);
    box-shadow: 0 0 8px var(--admin-selected-color);
    outline: none;
}

/* CategoryEditForm, ProductEditForm */

.edit-image-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.edit-image {
    width: 200px;
    height: auto
}

.edit-image-container button {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 25px;
    border: 1px solid #8e85b7;
    border-radius: var(--border-radius);
    background-color: var(--admin-primary-color);
    font-size: 13px;
    color: #efefef;
}

/* AdminPanel */

.admin-panel-container {
    display: flex;
}

/* AdminNavigation  */

.navigation {
    width: 20%;
    max-width: 300px;
    min-width: 200px;
    min-height: 100vh;
    background-color: var(--admin-primary-color);
    box-shadow: 4px 4px 15px #0000001a;
}

.admin-navbar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
    position: sticky;
    top: 80px;
}

.burger-navbar {
    display: none;
    background-color: var(--admin-primary-color);
    box-shadow: 0px 4px 15px var(--admin-primary-color);
    position: sticky;
    top: 80px;
}

.nav-link {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    color: #efefef;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    width: 100%;
    padding: 10px 30px;
}

.nav-link:hover,
.burger-logout-button:hover {
    color: #1a1a1a;
}

.nav-link:active {
    transform: scale(0.95);
}

.nav-link-selected {
    background-color: var(--admin-selected-color);
    border-left: 5px solid #fff;
    padding-left: 25px;
}

.nav-icon {
    font-size: 20px;
}

/* Products */

.table-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 30px;
    width: 100%;
}

.table-overview {
    width: 100%;
    border: none;
    border-collapse: collapse;
    box-shadow: 4px 4px 15px #0000001a;
    background-color: #ffffff;
    border-radius: var(--border-radius);
}

.table-overview th,
.table-overview td {
    padding: 10px 25px;
    text-align: left;
    border: none;
}

.table-overview th {
    font-weight: bold;
    color: #b2b4b9;
}

.table-overview td {
    color: #676768;
}

.table-overview-row:hover {
    background-color: #e5e4e6;
}

.table-overview img {
    width: 80px;
}

/* Categories, OrderStatusFilter, Products, Users */

.buttons-container {
    padding-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 100%;
}

/* Shared */

.button-styles {
    text-decoration: none;
    color: #efefef;
    border: 1px solid #8e85b7;
    border-radius: var(--border-radius);
    padding: 10px;
    margin-top: 5px;
    background-color: var(--admin-primary-color);
    transition: background-color 0.3s ease;
    font-size: 16px;
    min-width: 84px;
}

.button-styles:hover,
.action-button-styles:hover {
    background-color: var(--admin-secondary-color);
}

/* Categories, Orders, Products, Users */

.table-actions-col {
    max-width: 160px;
}

.table-actions {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    justify-content: flex-end;
}

/* .table-actions-orders {
    justify-content: flex-end;
} */

.action-icon {
    font-size: 22px;
    color: var(--admin-primary-color);
    cursor: pointer;
}

/* Orders */

.icon-yes {
    color: #008000;
    font-size: 20px;
}

.icon-no {
    color: #ff0000;
    font-size: 20px;
}

.status-label {
    display: inline-flex;
    align-items: center;
    padding: 2px 7px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 500;
}

.status-pending {
    background-color: #e9d5ff;
    color: #581c87;
}

.status-approved {
    background-color: #bfdbfe;
    color: #1e40af;
}

.status-declined {
    background-color: #fee2e2;
    color: #991b1b;
}

.status-in-process {
    background-color: #fef9c3;
    color: #713f12;
}

.status-completed {
    background-color: #d1fae5;
    color: #065f46;
}


/* OrderStatusFilter */

.active {
    background-color: #3c184a;
}

/* OrderContents */

.order-contents {
    background-color: #e0e1e3;
}

.order-more-information-table {
    width: 100%;
    margin: 10px 0;
    font-size: 14px;
    color: #333;
    border-radius: var(--border-radius);
    box-shadow: none;
}

.order-more-information-table th {
    background-color: #4b3f72;
    color: #fff;
    padding: 12px 15px;
    text-align: left;
    font-weight: bold;
    border-radius: var(--border-radius);
}

.order-more-information-table td {
    padding: 10px 15px;
    text-align: left;
    border-bottom: 1px solid #dee2e6;
}

.order-more-information-table tr:hover {
    background-color: #fff;
}

.order-notes {
    padding: 5px 0;
    font-size: 18px;
}

.order-notes span {
    font-weight: bold;
    color: #ff0000c0;
}

.table-overview>thead>tr>th:last-child {
    text-align: right;
    padding-right: 30px;
}


/* Medium screens (tablets) */
@media (max-width: 1024px) {
    nav {
        display: none;
    }

    .burger-navbar {
        display: block;
    }

    .burger-action-icon {
        display: block;
        font-size: 30px;
        color: #fff
    }

    .logout-button {
        display: none;
    }

    .admin-panel-container {
        flex-direction: column;
    }

    .table-container {
        margin: 0;
        padding-top: 15px;
    }

    .table-actions-col {
        max-width: 140px;
    }

    .table-actions {
        padding-right: 0;
    }

    .buttons-container {
        padding-left: 15px;
    }

    .action-icon {
        font-size: 19px;
    }

    .button-styles {
        font-size: 15px;
    }

    .form-container {
        margin: 50px 0;
    }
}

/* Small-medium screen */
@media (max-width: 769px) {
    .action-icon {
        font-size: 15px;
    }
}

/* Small screens (mobile) */
@media (max-width: 600px) {

    .login-form-styles {
        width: 350px;
    }

    .admin-header {
        height: 60px;
    }

    .admin-header input[type="search"] {
        width: 50%;
    }

    .burger-navbar {
        top: 60px;
    }

    .table-actions {
        gap: 5px;
    }

    .action-icon {
        font-size: 24px;
    }

    .button-styles {
        padding: 8px;
        font-size: 14px;
    }

    .buttons-container {
        overflow-x: auto;
    }

    .table-actions-col {
        max-width: 100%;
    }

    .table-overview>thead>tr>th {
        display: none;
    }

    .table-overview-row {
        border-bottom: 2px solid #ddd;
    }

    .table-overview-row>td {
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }

    .table-overview-row>td::before {
        content: attr(data-label);
        font-weight: bold;
        margin-right: 50px;
    }

    .table-overview img {
        width: 70px;
    }

    .form-styles form {
        width: 350px;
    }
}